<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>Silence and Harmony</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<link rel="stylesheet" type="text/css" title="Style" href="../static/style.css" />
</head>
<body>
<div id="container">
  <div id="header">
    <h1>Silence and Harmony</h1>
  </div>
  <div id="menu">
    <ul id="navlist">
      <li id="active"><a href="#" id="current">Home</a></li>
      <li><a href="#">About</a></li>
      <li><a href="#">Contact</a></li>
      <li><a href="#">Blog</a></li>
      <li><a href="#">Links</a></li>
    </ul>
  </div>
  <div id="main_content">
    <h2>About this template </h2>
    <p><img src="../static/images/body_bg.jpg" alt="Template" width="80" height="80" class="float_left" /> I kindly ask you to not remove the footer link if you have a free version of this template. The thumbnail to the left is only a demo image. Tested in the latest versions of FF, IE and Opera with perfect results. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean vitae dolor. Cras luctus dignissim metus. Nullam tristique. Suspendisse at risus. Nullam quam arcu, rutrum eu, hendrerit quis, placerat eget, nisl. Suspendisse id metus vitae justo convallis ullamcorper. Suspendisse in diam. Etiam ligula. Donec mattis tempus tellus. Morbi ut ipsum. Fusce luctus. Praesent mauris justo, ultricies non, tincidunt ac, pretium quis, pede. Nam porta molestie magna. Phasellus elementum aliquet neque. Vivamus sem sem, iaculis eget, convallis eu, vulputate vel, leo. Phasellus venenatis placerat libero.</p>
    <h2>Heading 2 </h2>
    <p>Vestibulum aliquet condimentum magna. Proin eget magna vitae dui semper tempor. Quisque vehicula, nisl ac vehicula malesuada, ipsum lectus laoreet odio, at pulvinar nibh enim a velit. Nunc rhoncus sodales urna. Cras ante tellus, vehicula ut, varius non, congue vitae, metus. Sed nulla lectus, cursus nec, mollis nec, convallis a, eros. Nam nec nisl sagittis urna faucibus ullamcorper. Nulla facilisi. Maecenas quis tellus. Proin vestibulum mollis lectus. Nullam blandit. Sed mattis nibh quis odio tincidunt tincidunt. Phasellus vel erat ut quam lobortis ornare. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos hymenaeos. Vivamus interdum lorem ut justo. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos hymenaeos. Phasellus ut sem ac nisi sollicitudin faucibus. Donec a dolor.</p>
    <h2>Another heading </h2>
    <p>Fusce id enim non nisl vulputate eleifend. Aenean dui. Pellentesque rhoncus sagittis risus. Ut vulputate nulla. Nunc rutrum, massa vitae accumsan semper, est velit accumsan orci, sed ullamcorper elit urna vitae massa. Proin nulla sem, mollis sed, bibendum ornare, adipiscing posuere, justo. Donec luctus metus sed leo. Ut in sem. Nam suscipit, erat id molestie ultricies, velit lacus consequat neque, sit amet aliquam ipsum sem a nibh. Aliquam neque arcu, dictum ut, consectetuer id, adipiscing et, velit. Sed molestie. Pellentesque in diam.</p>
    <p>Ut vestibulum blandit dui. Quisque sed nunc eu elit congue iaculis. Fusce porttitor, dolor in rutrum feugiat, felis justo ultrices elit, at cursus quam nulla et lectus. Vestibulum nunc. Vestibulum magna. In hac habitasse platea dictumst. Donec cursus leo. Quisque arcu massa, suscipit a, suscipit nec, venenatis eget, dui. Mauris metus. Suspendisse quis metus quis leo mollis laoreet. Ut lorem turpis, auctor nec, tempus sed, elementum quis, sapien. </p>
    <div id="footer">Created by Dieter Schneider 2006 | <a href="http://www.csstemplateheaven.com">www.csstemplateheaven.com</a> </div>
  </div>
</div>
</body>
</html>
